MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
# You can generally figure out the client ID quite easily, but apparently you are not allowed to post
# the client ID in open source: https://stackoverflow.com/questions/27585412/can-i-really-not-ship-open-source-with-client-id
GOOGLE_CLIENT_ID=